
body {
  margin: 5em; 
  font-family: sans-serif;
}
header {
  text-align: right;
}
.forms {
  width: 100%;
}

legend {
  font-weight: bold;
  font-size: 1em;
}
input {
  margin-right: 2em;
}
#newWorkOut {
  width: 75px;
}
#lbs {
  width: 10px;
}

#exercise {
  width: 200px;
}

#reps {
  width: 50px;
}
#weight {
  width: 50px;
}

.note {
  font-size: 0.75em;
  font-style: italic;
}

table {
  text-align: center;
  margin-top: 2em;
  margin-left: auto;
  margin-right: auto;
  width: 75%;
  border-collapse:collapse;
  border-style:hidden;
}

caption {
  font-size: 2em;
  font-variant: small-caps;
  margin-bottom: 1em;
}

table td, table th {
  border: 1px solid black;
}
